*{
    margin: 0;
    padding: 0;
    color: rgb(0, 255, 191);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    display: flex;
    flex-direction: row-reverse;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
    background-color: #2d3035;

}
.product{
    width: 50%;
    background-color: rgba(105, 105, 105, 0.664);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    padding-bottom: 35px;
    border-radius: 10px;
    position: relative;
}
.product .pic img{
    width: 350px;
    height: 350px;
    border-radius: 10px;
}
form{
    display: flex;
    flex-direction: column;
    position: relative;
}
form input[type='text'] , input[type='number']{
    width: 450px;
    margin-top: 20px;
    padding-top: 18px;
    padding-bottom: 3px;
    border: none;
    border-bottom: solid 1px  gray ;
    background: transparent;
    outline: none;
    color: white;
}
form input::placeholder{
    font-size: 15px;
}
form input:focus::placeholder{
    translate: 0px -18px;
    transition: .3s;
    font-size: 15px;
}
form input[type='text']:focus , input[type='number']:focus{
    border-bottom: solid 1px  white ;
    transition: .5s;
}
form input[type='radio']{
    margin-top: 20px;
    padding-top: 18px;
    padding-bottom: 3px;
}
form p{
    background-color: rgb(60, 255, 0);
    width: fit-content;
    margin-top: 20px;
    padding: 3px;
    font-size: 13px;
    padding-bottom: 3px;
    color: black;
    font-weight: 600;
}
form input[type="submit"]{
    width: 150px;
    background-color: rgb(11, 184, 141);
    padding: 10px 0px;
    color: black;
    font-size: 15px;
    position: absolute;
    left: 0;
    bottom: -50px;
    border: none;
    cursor: pointer;
}
form input[type="submit"]:hover{
    background-color: rgb(0, 255, 200);
    transition: .5s;
}
.rat{
    position: absolute;
    bottom: 10px;
    left: 50px;
    display: flex;
}
.rat .star{
    position: relative;
    left: 10px;
}
.star img{
    width: 20px;
}
#C_Message{
    background-color: green;
    padding:8px 15px;
    position: absolute;
    top: -50px;
    /* display: none; */
    /* scale: 0; */
    border-radius: 5px;
}