*{
    margin: 0;
    padding: 0;
    color: gold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    /* height: 300vh; */
    overflow-x: hidden;
    /* background-color: #2d3035; */
}

header{
    background-color: #2d3035;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 4;
}
header input{
    width: 350px;
    height: 30px;
    border: none;
    outline: none;
    color: black;
    padding-left: 10px;
    translate: 300px;
}
header #prof{
    translate: 155px ;
    width: 30px;
    cursor: pointer;
}
/* #page{
    width: 30px;
    translate: 150px 3px;
} */
header #notification{
    width: 30px;
    /* background-color: gold; */
    border-radius: 20px;
    translate: 80px;
    cursor: pointer;
}
#profil{
    width: 40px;
    border-radius: 50%;
    translate: 250px;
}
header span{
    translate: 170px;
}
header #orders{
    width: 30px;
    /* background-color: gold; */
    /* border-radius: 20px; */
    translate: 10px;
    cursor: pointer;
}


/* page style */

#sideBar{
    background-color: #2d303575;
    width: 50%;
    height: 30vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
}
#sideBar img{
    width: 200px;
    border-radius: 10px;
}
.links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#sideBar{
    position: absolute;
    top: 10vh;
    scale: 0;
    translate: 200%;
    margin-top: 2px;
}

.services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* Notification style */
.notif{
    background-color: #2d303575;
    width: 300px;
    height: 35vh;
    /* border-radius: 10px; */
    display: flex;
    flex-direction: column;
    z-index: 3;
}
.notif hr{
    display: block;
    width: 80%;
    height: 2px;
    border: none;
    border-radius: 10px;
    background-color: gold;
    margin: auto;
}
.picText{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.notif .picText #TaginPic{
    width: 90px;
    height: 90px;
    border-radius: 10px;
}
.rat{
    margin: auto;
}
.rat .star{
    display: flex;
    justify-content: center;
}
.star img{
    width: 20px;
}

.notif{
    position: absolute;
    top: 10vh;
    translate: 500%;
    scale: 0;
    margin-top: 2px;
}


/* Background style */

.background{
    /* position: absolute;
    top: -250px; */
    translate: 0px -325px;
    width: 100%;
    text-align: center;
    height: 100vh;
}
.background img{
    z-index: 1;
    width: 100%;
}

.information{
    position: relative;
    top: -75vh;
    right: 300px;
    translate: -100%;
}
.information p{
    margin-top: 20px;
    word-spacing: 5px;
    letter-spacing: 5px;
}

.information button{
    background-color: gold;
    margin-top: 20px;
    color: black;
    font-weight: 600;
    padding: 10px;
    border: none;
}
.information button:hover{
    background: transparent;
    color: white;
    font-weight: 600;
    padding: 10px;
    border: solid white 1px;
    transition: .5s;
}

/* Product Style */
.product{
    width: 100%;
    /* height: 140vh; */
    background-color: #2d3035;
    position: absolute;
    bottom: 0;
    translate: 0px 170vh;
    display: flex;
}
.name div input{
    accent-color: green;
    border: none;
    outline: none;
    width: 20px;
    height: 20px;
}
.IceCream{
    width: 80%;
}

.IceCream {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
}

.IceCream #container{
    background-color: rgba(105, 105, 105, 0.664);
    flex-basis: 32%;
    height: 250px;
    position: relative;
    margin: 0px 7px;
    margin-top: 40px;
    /* padding: 30px 0px; */
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.IceCream #container #ProductPic{
    width: 150px ;
    height: 150px ;
    border: #2d3035 10px solid;
    border-radius: 50%;
    translate: 0px -40px;
}
#container a{
    padding: 7px 10px;
    color: black;
    background-color: rgb(11, 184, 141);
    font-size: 15px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}
#container a:hover{
    background-color: rgb(0, 255, 191);
    transition: .5s;
}


#container  p {
    translate: 0px -20px;
    font-size: 18px;

}
#container #Price {
    translate: 0px -10px;
    font-size: 18px;
}
#container p , #Price{
    color: rgb(0, 255, 191);
}

/* filter Style */

.product .Filter{
    width: 20%;
    height: 80vh;
    background-color: rgba(105, 105, 105, 0.664);
    border-radius: 5px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Filter input[type='text'] , input[type='number']{
    width: 220px;
    padding-top: 10px;
    padding-bottom: 3px;
    border: none;
    border-bottom: solid 1px  gray ;
    background: transparent;
    outline: none;
    color: white;
}
.Filter input[type='text']::placeholder , input[type='number']::placeholder{
    font-size: 15px;
}
.Filter input[type='text']:focus , input[type='number']:focus{
    border-bottom: solid 1px  rgb(0, 255, 191) ;
    transition: 1s;
}
.Filter .Date div{
    display: flex;
    flex-direction: column;
}

.Filter .TitleLabel{
    margin-left: -20px;
    color: rgb(0, 255, 191);
    font-size: 18px;
}
.Filter .Date .TitleLabel {
    margin-left: -87px;
}
.Filter .Date .DateLabel{
    translate: -60px 20px;
    color: rgb(0, 255, 191);
}
.Filter .Date input[type='radio']{
    accent-color:rgb(0, 255, 191);
    border: rgb(0, 255, 191) 1px solid;
    height: 20px;
}
.Filter h1{
    color: rgb(0, 255, 191);
}
#btn{
    padding: 7px 10px;
    color: black;
    background-color: rgb(0, 255, 191);
    font-size: 15px;
    translate: 0px 25px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#btn:hover{
    background-color: rgb(28, 192, 151);
    transition: .3s;
}


/* Add To Cart  */
#addtocart{
    cursor: pointer;
}