*{
    margin: 0;
    padding: 0;
    color: #1F2833;
    font-size: 17px;
    font-family: 'Sour Gummy','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #2B7A78;
    position: relative;

}
section{
    display: flex;
    justify-content: space-between;
    flex-basis: 80%;
}
.picture img{
    width: 500px;
    height: 80vh;
    border-radius: 78% 22% 34% 66% / 53% 49% 51% 47% ;
    box-shadow:0px 0px 10px #14afaa ,
                0px 0px 20px #14afaa ,
                0px 0px 40px #14afaa ,
                0px 0px 80px #14afaa;
}
.picture{
    flex-basis: 30%;
}
.ContactSide{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.ContactSide div h1 span:nth-child(1){
    font-size: 50px;
    letter-spacing: 5px;
    text-shadow: 0px 0px 10px #14afaa ,
    0px 0px 20px #14afaa ,
    0px 0px 40px #14afaa ,
    0px 0px 80px #14afaa;

}
.ContactSide div h1 span:nth-child(2){
    font-size: 50px;
    color: #FBE9D0;
    letter-spacing: 5px;
    text-shadow:0px 0px 10px #265b9c ,
    0px 0px 20px #265b9c ,
    0px 0px 40px #265b9c ,
    0px 0px 80px #265b9c;
}
.ContactSide div{
    border-left:  solid;
    padding: 15px 0px;
    padding-left: 20px;
}
.ContactSide div h1{
    word-spacing: 5px;
}
.ContactSide div p{
    letter-spacing: 1px;
    word-spacing: 3px;
    padding: 10px 0px;
}
.ContactSide div a{
    text-decoration: none;
    background-color: #1F2833;
    /* border: 1px solid #2B7A78; */
    border: none;
    padding: 5px;
    display: block;
    width: 100px;
    text-align: center;
    translate: 0px 5px;
    border-radius: 7px;
    font-weight: 600;  
    color: #FBE9D0;
  
}
.ContactSide div a:hover{
    background: #324964;
    transition: .5s;
    /* border: 1px solid #14afaa; */
    padding: 5px;
    font-weight: 600;
    color: black;
    cursor: pointer;
    box-shadow:0px 0px 10px #14afaa ,
            0px 0px 20px #14afaa ,
            0px 0px 40px #14afaa ,
            0px 0px 80px #14afaa;
}