*{
    margin: 0;
    padding: 0;
    color: #FBE9D0;
    font-family: 'Sour Gummy','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    background-color: #2B7A78;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body h1{
    translate: 0px -60px;
}
.editProfil{
    translate: 0px -40px;
}
.editProfil form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.editProfil form #MyProfile{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.editProfil form input{
    width: 450px;
    margin-top: 20px;
    padding-top: 18px;
    padding-bottom: 3px;
    border: none;
    border-bottom: solid 1px  #1F2833 ;
    background: transparent;
    outline: none;
}
input:focus{
    border-bottom: solid 1px  green ;
}
input::placeholder{
    font-size: 15px;
    color: #1F2833;
}
input:focus::placeholder{
    translate: 0px -18px;
    transition: .3s;
    font-size: 15px;
}
.editProfil form input[type="submit"]{
    width: 100px;
    background-color: #1F2833;
    padding: 10px 0px;
    font-size: 15px;
    position: absolute;
    left: 0;
    bottom: -50px;
    cursor: pointer;
    border-bottom: none;
    letter-spacing: 2px;
}
.editProfil form input[type="submit"]:hover{
    background-color: #324964;
    transition: .5s;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

/* back & pointer page style */

#BackLink{
    translate: -600px -100px;
    background-color: #1F2833;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}
#BackLink:hover{
    background-color: #324964;
    transition: .3s;
}
h4{
    translate: -400px -70px;
}
h4 #homeLink{
    text-decoration: none;
}
h4 #homeLink:hover{
    /* text-decoration: underline gold 2px; */
    color: #1F2833;
    transition: .5s;
}
h4 #ThisPage{
    text-decoration: none;
    color: #1F2833;
}
h4 #ThisPage:hover{
    color: #FBE9D0;
    transition: .5s;
}


#inptFile{
    display: none;
}
#Replaced_File img{
    width: 25px;
}
#Replaced_File h2{
    font-size: 13px;
}
#Replaced_File{
    width: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2833;
    padding: 5px;
    translate: 0px 15px;
    border-radius: 5px;
}
#Replaced_File:hover{
    background-color: #324964;
    cursor: pointer;
    transition: .5s;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}