
*{
    margin: 0;
    padding: 0;
    /* color: #C5C6C7; */
    color: #FBE9D0;
    font-family: 'Sour Gummy','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}
body{
    /* height: 300vh; */
    overflow-x: hidden;
    background-color: #24305E;
    background-color: #2B7A78;
    /* background-color: #123C69; */
    position: relative;
}

header{
    background-color: #1F2833;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;  
}
.header{
    position: sticky;
    top: 0;
    z-index: 40;
}
header input{
    width: 350px;
    height: 30px;
    border: none;
    outline: none;
    color: black;
    padding-left: 10px;
}
header #prof{
    width: 30px;
    cursor: pointer;
}
header #notification{
    width: 30px;
    border-radius: 20px;
    cursor: pointer;
}
#profil{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
header span{
    translate: 170px;
}
header #orders{
    width: 30px;
    cursor: pointer;
}
header .Cart{
    width: 40px;
    /* translate: 100px; */
}
.Menu{
    flex-basis: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.Logo_Search{
    flex-basis: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.Logo_Search img{
    display: block;
    width: 100px;
}
.Menu .divProfil{
    display: flex;
    flex-basis: 30%;
    align-items: center;
}
.Menu .divProfil p{
    translate: 10px;
}
.Menu .divPic{
    display: flex;
    flex-basis: 50%;
    align-items: center;
    /* justify-content: space-evenly; */
    gap: 20px;
}

.divPic .Cart{
    translate: 50px;
}

.des{
    background-color: #1f283356;
    border-radius: 5px;
    /* background: rgba(39, 39, 39, 0.4); */
    padding: 10px;
    translate: -30px;
}

/* page style */
#CartOfProduct{
    width: 20px;
    height: 20px;
    padding: .5px;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgb(219, 45, 45);
    z-index: 2000;
    position: absolute;
    top: 15px; 
    right: 55px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#Notif_{
    width: 15px;
    height: 15px;
    padding: .5px;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgb(219, 45, 45);
    z-index: 2000;
    position: absolute;
    top: 18px; 
    right: 218px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
}

#AddedItems{
    width: 45%;
    height: 60vh;
    overflow-y: auto;
    padding: 10px;
    background-color: #1f2833b0;
    position: absolute;
    top: -200px;
    scale: 0;
    right: 10px;
    z-index: 39;
}
/* #AddedItems div{
    background-color: #24305E;
    margin-top: 5px;
    padding: 10px;
} */


#AddedItems table tr{
    background-color: #24305E;
}


#AddedItems table tr td a{
    cursor: pointer;
    background-color: #2B7A78;
    text-decoration: none;
    text-align: center;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 5px;
}
#AddedItems table tr td a:hover{
    background-color: #14afaa;
    transition: .9s;
}
#AddedItems table tr td{
    margin-top: 5px;
    padding: 5px;
}
#AddedItems table tr td:last-child{
    width: 20%;
}
#AddedItems table tr td:nth-child(3){
    width: 15%;
}


/* #AddedItems div p:first-child{
    flex-basis: 50%;
}
#AddedItems div img{
    width: 40px;
    border-radius: 5px;
}
#AddedItems div a{
    background-color: #1F2833;
    color: #FBE9D0;
    padding: 5px;
} */

#sideBar{
    background-color: #1f2833b0;
    width: 50%;
    height: 30vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
    position: sticky;
    top: 0; 
}
#sideBar img{
    width: 250px;
    /* border-radius: 10px; */
    /* opacity: .9; */
}
.links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.links h1{
    color: #14afaa;
}
#sideBar{
    position: absolute;
    top: 10vh;
    scale: 0;
    translate: 200%;
    margin-top: 2px;
}

.services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.services h1{
    color: #14afaa;
}

/* Notification style */
.notif{
    background-color: #2d303575;
    width: 300px;
    height: 35vh;
    /* border-radius: 10px; */
    display: flex;
    flex-direction: column;
    /* position: relative; */
    z-index: 3;
}
.notif hr{
    display: block;
    width: 80%;
    height: 2px;
    border: none;
    transform: translateY(15px);
    border-radius: 10px;
    background-color: #FBE9D0;
    margin: auto;
}
.picText{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.notif .picText #TaginPic{
    width: 90px;
    height: 90px;
    border-radius: 10px;
}
.notif #More_{
    background-color: #22354b;
    padding: 3px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    align-self: center;
}






/*Notification Rating */
.rat{
    margin: auto;
    /* transform: translateY(35px); */
}
.rat .stars{
    position: relative;
    /* left: 15px; */
    /* cursor: pointer; */
}
.rat p{
    font-weight: 700;
}
.star {
    font-size: 30px;
    cursor: pointer;
  }

.stars  .one {
    color: rgb(255, 0, 0);
  }
   
.stars  .two {
    color: rgb(255, 106, 0);
  }
   
  .three {
    color: rgb(251, 255, 120);
  }
   
  .four {
    color: rgb(255, 255, 0);
  }
   
  .five {
    color: rgb(0, 255, 34);
  }

.notif{
    position: absolute;
    top: 10vh;
    translate: 500%;
    scale: 0;
    margin-top: 2px;
}


/* Background style */

.background{
    /* position: absolute;
    top: -250px; */
    translate: 0px -325px;
    width: 100%;
    text-align: center;
    height: 100vh;
}
.background img{
    z-index: 1;
    width: 100%;
}

.information{
    position: relative;
    top: -75vh;
    right: 300px;
    translate: -100%;
}
.information p{
    margin-top: 20px;
    word-spacing: 5px;
    letter-spacing: 5px;
}

.information button{
    background-color: gold;
    margin-top: 20px;
    color: black;
    font-weight: 600;
    padding: 10px;
    border: none;
}
.information button:hover{
    background: transparent;
    color: white;
    font-weight: 600;
    padding: 10px;
    border: solid white 1px;
    transition: .5s;
}

/* Product Style */
.Prod{
    width: 100%;
    /* height: 140vh; */
    /* background-color: #0B0C10; */
    position: relative;
    /* bottom: 0; */
    /* translate: 0px 10vh; */
    display: flex;
}
.name div input{
    accent-color: green;
    border: none;
    outline: none;
    width: 20px;
    height: 20px;
}
.IceCream{
    width: 80%;
}

.IceCream {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
}

.IceCream #container{
    background-color: #1f2833bb;
    flex-basis: 31%;
    height: fit-content;
    /* height: fit-content; */
    position: relative;
    margin: 0px 7px;
    margin-top: 50px;
    padding: 20px 0px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.IceCream #container:hover{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    translate: 0px -20px;
    transition: .5s;
}
.IceCream #container #ProductPic{
    width: 150px ;
    height: 150px ;
    /* border: #2d3035 10px solid; */
    border-radius: 50%;
    translate: 0px -40px;
}
.IceCream #container #ProductPic:hover{
    /* scale: 1.1; */
    transition: 1s;
    /* border: #2d3035 1px solid; */
    /* border: #14afaa 10px solid; */
    box-shadow: #14afaa 0px 19px 38px, #14afaa 0px 15px 12px;
    cursor: pointer;
}
#container #OrderLink{
    padding: 7px 10px;
    color: black;
    font-weight: 600;
    background-color: #2B7A78;
    font-size: 15px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}
#container #OrderLink:hover{
    background-color: #14afaa;
    transition: .9s;
}


#container  p {
    translate: 0px -20px;
    font-size: 20px;
    flex-basis: 80%;
    padding: 0px 5px;
}
#container #Price {
    translate: 0px -10px;
    font-size: 20px;
}
/* #container p , #Price{
    color: #44318D;
} */

/* filter Style */

.Prod .Filter{
    width: 20%;
    height: 70vh;
    background-color: #1f2833;;
    border-radius: 5px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Prod .Filter:hover{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transition: .5s;
}
.Filter #F-ele{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Filter #F-ele div{
    text-align: left;
}

.Filter input[type='text'] , input[type='number']{
    width: 220px;
    padding-top: 10px;
    padding-bottom: 3px;
    border: none;
    border-bottom: solid 1.5px #FBE9D0;
    background: transparent;
    outline: none;
    color: #FBE9D0;
}
.Filter input[type='text']::placeholder , input[type='number']::placeholder{
    font-size: 15px;
}
.Filter input[type='text']:focus , input[type='number']:focus{
    border-bottom: solid 1.5px  #14afaa ;
    transition: 1s;
}

.Filter .TitleLabel{
    display: block;
    margin-top: 5px;
    font-size: 18px;
}

.Filter .Date{
    margin-left: -20px;
}
.Filter #SelectOpt{
    background-color: #22354b;
    color: #FBE9D0;
    border: none;
    outline: none;
    width: 200px;
    padding: 5px 20px;
}
#btn{
    padding: 7px 10px;
    color: black;
    background-color: #2B7A78;
    font-size: 15px;
    translate: 0px 25px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#btn:hover{
    background-color: #14afaa;
    transition: .3s;
}




/* Add To Cart  */
#addtocart{
    cursor: pointer;
    width: 40px;
    position: absolute;
    top: 20px;
    right: 20px;
}
.Cart{
    cursor: pointer;
}

/* footer style */
#Foot{
    width: 100%;
    height: 25vh;
    background-color: #1F2833;
    position: absolute;
    bottom: 0;
    z-index: 6;
    translate: 0px 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#Foot section{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
#Foot section div:nth-child(1) , div:nth-child(2) , div:nth-child(3){
    text-align: center;
}
#Foot section div:nth-child(2) div{
    display: flex;
    gap: 10px;
    text-align: center;
}
#Foot section div:nth-child(2) div p a img{
    width: 30px;
}
.hhhh{
    width: 100%;
    height: 50vh;
    background-color: rgba(105, 105, 105, 0.664);
    translate: 0px -10px;
}
.card_list{
    display: flex;
}
.hhhh .cart .cart_l img{
    width: 320px;
}



::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-track{
    background: #d1e5ff;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(#642bff,#14afaa);
    border-radius: 1px;
}


/* #b89c5c #b4945c #b49c5c */

.pagination {
    text-align: center;
    margin-top: 2rem;
    position: relative;
    z-index: 10;
    translate: 460px;
}

.pagination a {
    color: #FBE9D0;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #1f2833;
    margin: 0 5px;
    border-radius: 5px;
}

.pagination a:hover {
    background-color: #1f2833;
    color: #FBE9D0;
}

.pagination .active {
    background-color: #1f2833;
    color: #FBE9D0;
}
.pagination a{
    cursor: pointer;
}
#page-numbers{
    margin-top: 15px;
}


/* pricing Style */



/* Notif Pagination */

.Notif_pagination {
    text-align: center;
    /* margin-top: 2rem; */
    position: absolute;
    z-index: 10000;
    top: 100px;
    /* translate: 460px; */
    width: 100%;
}

.Notif_pagination a {
    color: #FBE9D0;
    padding: 5px 10px;
    text-decoration: none;
    border: 1px solid #1f2833;
    margin: 0 5px;
    border-radius: 5px;
}

.Notif_pagination a:hover {
    background-color: #1f2833;
    color: #FBE9D0;
}

.Notif_pagination .active {
    background-color: #1f2833;
    color: #FBE9D0;
}
.Notif_pagination a{
    cursor: pointer;
}
#page-numbers{
    margin-top: 15px;
}