
*{
    margin: 0;
    padding: 0;
    /* color: #C5C6C7; */
    color: #FBE9D0;
    font-family: 'Sour Gummy','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}
body{
    /* height: 300vh; */
    overflow-x: hidden;
    background-color: #24305E;
    background-color: #2B7A78;
    /* background-color: #123C69; */
    position: relative;
}

header{
    background-color: #1F2833;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;  
}
.header{
    position: sticky;
    top: 0;
    z-index: 40;
}
header input{
    width: 350px;
    height: 30px;
    border: none;
    outline: none;
    color: black;
    padding-left: 10px;
}
header #prof{
    width: 30px;
    cursor: pointer;
}
header #notification{
    width: 30px;
    border-radius: 20px;
    cursor: pointer;
}
#profil{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
header span{
    translate: 170px;
}
header #orders{
    width: 30px;
    cursor: pointer;
}
header .Cart{
    width: 40px;
    /* translate: 100px; */
}
.Menu{
    flex-basis: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.Logo_Search{
    flex-basis: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.Logo_Search img{
    display: block;
    width: 100px;
}
.Menu .divProfil{
    display: flex;
    flex-basis: 30%;
    align-items: center;
}
.Menu .divProfil p{
    translate: 10px;
}
.Menu .divPic{
    display: flex;
    flex-basis: 50%;
    align-items: center;
    /* justify-content: space-evenly; */
    gap: 20px;
}

.divPic .Cart{
    translate: 50px;
}

/* page style */

#sideBar{
    background-color: #1f2833b0;
    width: 50%;
    height: 30vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
    position: sticky;
    top: 0; 
}
#sideBar img{
    width: 250px;
    /* border-radius: 10px; */
    /* opacity: .9; */
}
.links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.links h1{
    color: #14afaa;
}
#sideBar{
    position: absolute;
    top: 10vh;
    scale: 0;
    translate: 200%;
    margin-top: 2px;
}

.services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.services h1{
    color: #14afaa;
}

/* Notification style */
.notif{
    background-color: #2d303575;
    width: 300px;
    height: 35vh;
    /* border-radius: 10px; */
    display: flex;
    flex-direction: column;
    /* position: relative; */
    z-index: 3;
}
.notif hr{
    display: block;
    width: 80%;
    height: 2px;
    border: none;
    border-radius: 10px;
    background-color: gold;
    margin: auto;
}
.picText{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.notif .picText #TaginPic{
    width: 90px;
    height: 90px;
    border-radius: 10px;
}
.rat{
    margin: auto;
}
.rat .star{
    display: flex;
    justify-content: center;
}
.star img{
    width: 20px;
}

.notif{
    position: absolute;
    top: 10vh;
    translate: 500%;
    scale: 0;
    margin-top: 2px;
}


/* Background style */

.background{
    /* position: absolute;
    top: -250px; */
    translate: 0px -325px;
    width: 100%;
    text-align: center;
    height: 100vh;
}
.background img{
    z-index: 1;
    width: 100%;
}

.information{
    position: relative;
    top: -75vh;
    right: 300px;
    translate: -100%;
}
.information p{
    margin-top: 20px;
    word-spacing: 5px;
    letter-spacing: 5px;
}

.information button{
    background-color: gold;
    margin-top: 20px;
    color: black;
    font-weight: 600;
    padding: 10px;
    border: none;
}
.information button:hover{
    background: transparent;
    color: white;
    font-weight: 600;
    padding: 10px;
    border: solid white 1px;
    transition: .5s;
}

/* Product Style */
.Prod{
    width: 100%;
    /* height: 140vh; */
    /* background-color: #0B0C10; */
    position: relative;
    /* bottom: 0; */
    /* translate: 0px 10vh; */
    display: flex;
}
.name div input{
    accent-color: green;
    border: none;
    outline: none;
    width: 20px;
    height: 20px;
}
.IceCream{
    width: 80%;
}

.IceCream {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
}

.IceCream #container{
    background-color: #1f2833bb;
    flex-basis: 31%;
    height: fit-content;
    /* height: fit-content; */
    position: relative;
    margin: 0px 7px;
    margin-top: 50px;
    padding: 20px 0px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.IceCream #container:hover{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    translate: 0px -5px;
    transition: .5s;
}
.IceCream #container #ProductPic{
    width: 150px ;
    height: 150px ;
    border: #2d3035 10px solid;
    border-radius: 50%;
    translate: 0px -40px;
}
.IceCream #container #ProductPic:hover{
    /* scale: 1.1; */
    transition: 1s;
    /* border: #2d3035 1px solid; */
    border: rgb(0, 255, 191) 10px solid;
    cursor: pointer;
}
#container #OrderLink{
    padding: 7px 10px;
    color: black;
    font-weight: 600;
    background-color: #2B7A78;
    font-size: 15px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}
#container #OrderLink:hover{
    background-color: #14afaa;
    transition: .9s;
}


#container  p {
    translate: 0px -20px;
    font-size: 18px;
    flex-basis: 80%;
    padding: 0px 20px;
}
#container #Price {
    translate: 0px -10px;
    font-size: 18px;
}
/* #container p , #Price{
    color: #44318D;
} */

/* filter Style */

.Prod .Filter{
    width: 20%;
    height: 80vh;
    background-color: #1f2833;;
    border-radius: 5px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Prod .Filter:hover{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transition: .5s;
}

.Filter input[type='text'] , input[type='number']{
    width: 220px;
    padding-top: 10px;
    padding-bottom: 3px;
    border: none;
    border-bottom: solid 1px  gray ;
    background: transparent;
    outline: none;
    color: white;
}
.Filter input[type='text']::placeholder , input[type='number']::placeholder{
    font-size: 15px;
}
.Filter input[type='text']:focus , input[type='number']:focus{
    border-bottom: solid 1px  rgb(0, 255, 191) ;
    transition: 1s;
}
.Filter .Date div{
    display: flex;
    flex-direction: column;
}

.Filter .TitleLabel{
    margin-left: -100px;
    /* color: rgb(0, 255, 191); */
    font-size: 18px;
}
.Filter .Date .TitleLabel {
    margin-left: -87px;
}
.Filter .Date .DateLabel{
    translate: -60px 20px;
    /* color: rgb(0, 255, 191); */
}
.Filter .Date input[type='radio']{
    accent-color:rgb(0, 255, 191);
    border: rgb(0, 255, 191) 1px solid;
    height: 20px;
}
.Filter h1{
    /* color: rgb(0, 255, 191); */
}
#btn{
    padding: 7px 10px;
    color: black;
    background-color: rgb(0, 255, 191);
    font-size: 15px;
    translate: 0px 25px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#btn:hover{
    background-color: rgb(28, 192, 151);
    transition: .3s;
}


/* Add To Cart  */
#addtocart{
    cursor: pointer;
}

/* footer style */
#Foot{
    width: 100%;
    height: 25vh;
    background-color: black;
    position: absolute;
    bottom: 0;
    z-index: 6;
    translate: 0px 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#Foot section{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
#Foot section div:nth-child(1) , div:nth-child(2) , div:nth-child(3){
    text-align: center;
}
#Foot section div:nth-child(2) div{
    display: flex;
    gap: 10px;
    text-align: center;
}
#Foot section div:nth-child(2) div p a img{
    width: 30px;
}
.hhhh{
    width: 100%;
    height: 50vh;
    background-color: rgba(105, 105, 105, 0.664);
    translate: 0px -10px;
}
.card_list{
    display: flex;
}
.hhhh .cart .cart_l img{
    width: 320px;
}



::-webkit-scrollbar{
    width: 11px;
}
::-webkit-scrollbar-track{
    background: #d1e5ff;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(#642bff,#ff22e6);
    border-radius: 10px;
}


/* #b89c5c #b4945c #b49c5c */

.pagination {
    text-align: center;
    margin-top: 2rem;
    position: relative;
    z-index: 10;
    translate: 460px;
}

.pagination a {
    color: #007BFF;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #007BFF;
    margin: 0 5px;
    border-radius: 4px;
}

.pagination a:hover {
    background-color: #007BFF;
    color: white;
}

.pagination .active {
    background-color: #007BFF;
    color: white;
}
.pagination a{
    cursor: pointer;
}
#page-numbers{
    margin-top: 15px;
}